!*.py
!*.json
!*.yaml
!*.template
*.pyc
test.py
public/*
!public/white_reddit_template.png
!public/subscribe-animation.mp4
videos/*
.logs/
.editing_assets/*
.database/api_db.json
.database/content_db.json
.database/asset_db.json
flagged/
.vscode
.env
StoryWeave.egg-info
dist
build
/.venv
/.database
**/__pycache__/
/temp
/projects
/image_generator