.venv
.env
/temp
/images

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyCharm files
.idea/
*.iml
*.ipr
*.iws

# Ignore files and directories commonly excluded in Node.js projects

# Node.js dependencies
node_modules

# Build output
.next

# Development files
*.log
.DS_Store


# Version control files
.git


# IDE and editor files
.vscode
.idea

# Tests and test coverage reports
coverage
__tests__


__pycache__

/test1
test.ipynb
!*.py
!*.json
!*.yaml
!*.template
*.pyc
test.py
public/*
!public/white_reddit_template.png
!public/subscribe-animation.mp4
videos/*
.logs/
.editing_assets/*
.database/api_db.json
.database/content_db.json
.database/asset_db.json
flagged/
.vscode
.env
ShortGPT.egg-info
dist
build


.database
projects

run.bat
python_embeded
Fooocus
img_gen


__pycache__
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.patch
*.backup
*.corrupted
/language/default.json
lena.png
lena_result.png
lena_test.py
user_path_config.txt
build_chb.py
experiment.py
/modules/*.png
/repositories
/venv
/tmp
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
/notification.ogg
/notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/auth.json